<div class="breadcrumb">
  <h3>OpenMRS Form Manamegement Tool</h3>
  <p>Lets you do all cool stuff, but you will need access to openmrs backend.
  If you just want to play with forms, go to Form Editor</p>
</div>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          OpenMRS Server Configurations
          <span class="pull-right" ng-if="authenticated;">
            <a ng-href="#/form/manage"><button class="btn btn-xs btn-primary">Go to Manage Forms</button></a> 
          </span>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
              <server-url-config></server-url-config>
          </div>
      </div>
  </div>
</div>
