<span ng-show="(busy || busySaving)">Loading...<img src="images/ajax-loader.gif"/></span>

<div ng-show="!busy">
  <h2> Create New Form/Component </h2>
  <div class="panel panel-default">
  <div class="panel-heading">
    Form Details (Metadata)
    <a ng-href="#/form/manage"><button class="btn btn-xs btn-primary pull-right">Go to Manage Forms</button></a>
  </div>
  <div class="panel-body">
    <form ng-submit="create();" name="form" novalidate>
      <formly-form model="model" fields="fields">
        <button type="submit" class="btn btn-primary submit-button" ng-disabled="form.$invalid">
          Create
        </button>
        <button type="button" class="btn btn-default" ng-click="options.resetModel()">
          Reset
        </button>
      </formly-form>
    </form>
  </div>
</div>
<!--div>{{model | json}}</div-->
<script type="text/ng-template" id="error-messages.html">
    <formly-transclude></formly-transclude>
    <div class="error-messages" ng-messages="fc.$error" ng-if="form.$submitted || options.formControl.$touched">
      <div class="message" ng-message="{{::name}}" ng-repeat="(name, message) in ::options.validation.messages" style="color:red;">
        {{message(fc.$viewValue, fc.$modelValue, this)}}
      </div>
    </div>
</script>
