<div class="panel panel-info" style="padding:4px;" data-ng-if="!vm.errorFetchingForms && !vm.busy">
  <div class="panel panel-heading">
    Forms List <input type="checkbox" ng-model="vm.excludeRetired"> Exclude Retired
    <a ng-href="#/form/create"><button class="btn btn-xs btn-primary pull-right">Create Form/Component</button></a>
  </div>
  <div class="table-responsive" ng-if="vm.existingForms.length>0">
  <input ng-model="vm.query" id="search" class="form-control" placeholder="Filter"/>
  <table id="form-table" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Version</th>
        <th>Published</th>
        <th>Schema Action</th>
        <th>View</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="form in vm.existingForms | filter:vm.query" 
        data-ng-click="setSelected(form);"
        ng-class="{retired: form.retired}" ng-hide="vm.excludeRetired && form.retired">
        <td>
          {{form.name}}
        </td>
        <td>{{form.version}}</td>
        <td>
          <span class="label label-{{form.publishedCssClass}}">{{form.publishedText}}</span>
        </td>
        <td>
          <p ng-show="form.published && !form.retired">None (Published)</p>
          <p ng-show="form.retired" style="color:red;">Retired</p>
          <input ng-hide="form.published || form.retired" type="file" file-model="form.schema"/>
          <button class="btn btn-default" ng-disable="form.schema == null" 
          ng-if="!form.published && !form.hasSchema && !form.retired" ng-click="uploadSchema(form);">
          Upload
          </button>
          <button class="btn btn-warning" ng-disable="form.schema == null" 
          ng-if="!form.published && form.hasSchema && !form.retired" ng-click="updateSchema(form);">
          Update
          </button>
          <img ng-show="form.busy && !form.published" src="images/ajax-loader.gif"/>
        </td>
        <td>
          <button class="btn btn-primary" ng-click="viewForm(form);">
            <span class="glyphicon glyphicon-eye-open"></span>
          </button>
        </td>
        <td>
          <button class="btn btn-warning" ng-click="editForm(form);" ng-if="!form.retired">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<div>
  <a ng-href="#/form/create"><button class="btn btn-default">Create Form/Component</button></a>
</div>
<script>
 $(document).ready(function() {
   $('#form-table').DataTable({
     "searching": false,
   });
 })
</script>
