<form>
  <div class="form-group">
    <span ng-show="authResult.authenticated && !busy" class="alert alert-success">
      <strong>Looks Good:</strong> {{username}} is authenticated with {{openmrsUrl}}
    </span>
    <span ng-show="!authResult.authenticated && !busy" class="alert alert-warning">
      Warning!: You won't be able to save your forms. Authenticate with valid Openmrs
      server below.
    </span>
    <span ng-show="busy">Bear with us please...<img src="images/ajax-loader.gif"/></span>
  </div>
  <div class="form-group">
    <label for="openmrs-server-url">Server URL</label>
    <input type="text" class="form-control" id="openmrs-server-url" 
     ng-model="openmrsUrl" placeholder="http://localhost:8080/openmrs"
     ng-disabled="authResult.authenticated"/>
  </div>
  <div id="view-toggling" ng-show="!authResult.authenticated && !busy">
  <div class="form-group">
    <label for="openmrs-username">Username</label>
    <input type="text" class="form-control" id="openmrs-username" ng-model="username"
      placeholder="username"/>
  </div>
  <div class="form-group">
    <label for="openmrs-password">Password</label>
    <input type="password" class="form-control" id="openmrs-password" ng-model="password"
      placeholder="password"/>
  </div>
  <div class="alert alert-danger alert-dismissible fade in" role="alert" ng-if="authResult.hasError && !busy">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <span class="danger"><strong>Oops! </strong>{{authResult.message}}</span>
  </div>
  <button type="button" class="btn btn-default" ng-click="authenticate()">
      Login
  </button>
  </div>
  <button type="button" class="btn btn-danger" ng-click="logout()" ng-show="authResult.authenticated">
    Logout
  </button>
</form>                
