<div ng-if="hasError && !busy" class="alert alert-danger">
  <strong>Warning: There were errors loading this page!</strong>
  <p ng-repeat="error in errors"> {{error}}</p>
</div>

<span ng-show="busy">Loading...<img src="images/ajax-loader.gif"/></span>

<div class="panel-group" id="accordion" ng-if="!busy && !hasError">
  <div class="panel panel-info">
    <div class="panel-heading">
      Form Details
      <span class="pull-right">
        <a ng-href="#/form/edit/{{::form.uuid}}"><button class="btn btn-xs btn-primary">Edit</button></a>
        <a ng-href="#/form/manage"><button class="btn btn-xs btn-primary">Go to Manage Forms</button></a> 
      </span>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-bordered" id="form-details-table">
        <tr><th>UUID</th><td>{{::form.uuid}}</td></tr>
        <tr><th>Name</th><td>{{::form.name}}</td></tr>
        <tr><th>Version</th><td>{{::form.version}}</td></tr>
        <tr><th>Description</th><td>{{::form.description}}</td></tr>
        <tr>
          <th>Published</th>
          <td>
            <span class="label label-{{::form.publishedCssClass}}">
            {{::form.publishedText}}
          </span>
        </td>
        <tr>
          <th>Encounter Type</th>
          <td>{{::form.encounterTypeName}}</td>
        </tr>
        <tr><th>Created By</th><td>{{::form.auditInfo.creator.display}}</td></tr>
        <tr><th>Date Created</th><td>{{::form.auditInfo.dateCreated | date: "dd-MM-yyyy"}}</td></tr>
        <tr ng-if="form.auditInfo.changedBy">
          <th>Changed By</th><td>{{::form.auditInfo.changedBy.display}}</td>
        </tr>
        <tr ng-if="form.auditInfo.dateChanged">
          <th>Date Changed</th><td>{{::form.auditInfo.dateChanged | date: "dd-MM-yyyy"}}</td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      Schema <span ng-show="form.schema">(uuid = {{form.schema.uuid}})</span>
    </div>
    <div class="panel-body">
      <div ng-if="form.schema" ui-ace="{mode:'json', onLoad: aceLoadedView}" ng-model="form.schema.json"></div>
      <div ng-if="!form.schema && !form.published">
        <p>No schema associated with this form yet. You can upload below</p>
        <input type="file" file-model="schema"/>
        <button class="btn btn-default" ng-click="uploadSchema(form);">Upload</button>
      </div>
    </div>
  </div>
</div>
